* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #dbdbdb;
  font-family: "Outfit", sans-serif;
  display: grid;
  gap: 20px;
  padding: 70px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "nav  nav  nav  nav" "nav  nav  nav  nav" "date date date date" "date date date date" "task task list list" "task task list list";
  width: 100%;
}
body header {
  display: none;
}

.container__task {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin: 50px 0px 0px 0px;
  padding: 40px;
  width: 100%;
  border-radius: 0.7em;
  grid-area: task;
  align-items: center;
  position: relative;
}
.container__task .tittle {
  color: #313131;
  display: flex;
  position: relative;
  top: 35px;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  font-size: 0.7em;
  margin: 0px 0px 30px 0px;
  padding: 30px 0px;
}
.container__task ul {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0;
  margin: 20px 0px 0px 0px;
}
.container__task ul .task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 0px 0px 30px 0px;
  background-color: #ffcece;
  width: 100%;
  height: 80px;
  border-radius: 0.9em;
  color: rgb(0, 0, 0);
  font-weight: 700;
  padding: 0px 0px 0px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.container__task ul .task.select {
  background-color: #1dd67d;
  color: #ffffff;
}
.container__task ul .task.select button {
  opacity: 0;
}
.container__task ul .task.completed::after {
  content: "Completed";
  position: absolute;
  color: #ffffff;
  font-weight: 700;
  font-size: 1em;
  right: 70px;
}
.container__task ul button {
  background-color: transparent;
  border: solid 3px #d61d1d;
  color: #d61d1d;
  position: absolute;
  right: 10px;
  outline: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 5px;
  font-weight: 900;
  cursor: pointer;
}
.container__task ul button:hover {
  background-color: #d61d1d;
  color: #ffffff;
}
.container__task .contenedor__task {
  display: flex;
  position: relative;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container__task .contenedor__task .input {
  width: 100%;
  height: 4em;
  border: none;
  outline: none;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 0.5em;
  padding: 0px 0px 0px 10px;
  margin: 0px 10px;
}
.container__task .contenedor__task .btn__task {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5df9b0;
  width: 60px;
  height: 55px;
  border: none;
  border-radius: 50%;
  color: white;
  font-weight: 700;
  font-size: 1.5em;
  cursor: pointer;
}

.contenedor__tareas__completadas {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin: 50px 0px 0px 0px;
  padding: 40px;
  border-radius: 0.7em;
  grid-area: list;
}
.contenedor__tareas__completadas .tittle {
  color: #000000;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  margin: 0;
  padding: 30px 0px;
}
.contenedor__tareas__completadas ul {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.contenedor__tareas__completadas ul .task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 10px 0px;
  background-color: #ffcece;
  width: 100%;
  height: 80px;
  border-radius: 0.9em;
  color: rgb(0, 0, 0);
  font-weight: 700;
  padding: 0px 0px 0px 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contenedor__tareas__completadas ul .task.select {
  background-color: #1dd67d;
  color: #ffffff;
}
.contenedor__tareas__completadas ul .task.select button {
  opacity: 0;
}
.contenedor__tareas__completadas ul .task.completed::after {
  content: "";
  position: absolute;
  color: #ffffff;
  font-weight: 700;
  font-size: 1em;
  right: 70px;
}

.contenedor__reloj {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin: 10px 0px 0px 0px;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 0.7em;
  grid-area: date;
  position: relative;
}
.contenedor__reloj .reloj {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "seconds seconds minutes minutes hours hours";
  width: 100%;
}
.contenedor__reloj .reloj .seconds {
  grid-area: seconds;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 1.2em;
}
.contenedor__reloj .reloj .seconds p {
  color: #c7c7c7;
  padding: 0px 10px;
  font-weight: 700;
}
.contenedor__reloj .reloj .minutes {
  grid-area: minutes;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 1.2em;
}
.contenedor__reloj .reloj .minutes p {
  color: #c7c7c7;
  padding: 0px 10px;
  font-weight: 700;
}
.contenedor__reloj .reloj .hours {
  grid-area: hours;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 1.2em;
}
.contenedor__reloj .reloj .hours p {
  color: #c7c7c7;
  padding: 0px 10px;
  font-weight: 700;
}
.contenedor__reloj .day {
  grid-area: day;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 4em;
  font-family: "Outfit", sans-serif;
  font-weight: 900;
  color: #5df9b0;
}
.contenedor__reloj .day p {
  color: #000000;
  padding: 0px 15px;
  font-family: "Outfit", sans-serif;
}
.contenedor__reloj .month {
  grid-area: month;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 4em;
  font-family: "Outfit", sans-serif;
  font-weight: 900;
  color: #5df9b0;
}
.contenedor__reloj .month p {
  color: #000000;
  padding: 0px 15px;
  font-family: "Outfit", sans-serif;
}
.contenedor__reloj .year {
  grid-area: year;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 4em;
  font-family: "Outfit", sans-serif;
  font-weight: 900;
  color: #5df9b0;
}
.contenedor__reloj .year p {
  color: #000000;
  padding: 0px 15px;
  font-family: "Outfit", sans-serif;
}
.contenedor__reloj .colors__change {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 0.5em;
  width: 250px;
  height: 4em;
  position: absolute;
  left: 0;
  bottom: 0px;
  transition: opacity 0.2s;
}
.contenedor__reloj .colors__change .colores, .contenedor__reloj .colors__change .color4, .contenedor__reloj .colors__change .color3, .contenedor__reloj .colors__change .color2, .contenedor__reloj .colors__change .color1 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: solid #000000 2px;
  margin: 0px 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.contenedor__reloj .colors__change .color1 {
  background-color: #40a475;
}
.contenedor__reloj .colors__change .color1::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: -5px;
  background-color: #5df9b0;
}
.contenedor__reloj .colors__change .color1.click {
  background-color: #5df9b0;
}
.contenedor__reloj .colors__change .color2 {
  background-color: #0a698f;
}
.contenedor__reloj .colors__change .color2::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: -5px;
  background-color: #0ea0da;
}
.contenedor__reloj .colors__change .color2.click {
  background-color: #0ea0da;
}
.contenedor__reloj .colors__change .color3 {
  background-color: #a3a816;
}
.contenedor__reloj .colors__change .color3::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: -5px;
  background-color: #c9cf1c;
}
.contenedor__reloj .colors__change .color3.click {
  background-color: #c9cf1c;
}
.contenedor__reloj .colors__change .color4 {
  background-color: #6f0aa1;
}
.contenedor__reloj .colors__change .color4::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: -5px;
  background-color: #930cd6;
}
.contenedor__reloj .colors__change .color4.click {
  background-color: #930cd6;
}
.contenedor__reloj.colorMent {
  background-color: #5df9b0;
}
.contenedor__reloj.colorMent .day, .contenedor__reloj.colorMent .year, .contenedor__reloj.colorMent .month {
  color: #ffffff;
}
.contenedor__reloj.colorBlue {
  background-color: #0ea0da;
}
.contenedor__reloj.colorBlue .day, .contenedor__reloj.colorBlue .year, .contenedor__reloj.colorBlue .month {
  color: #ffffff;
}
.contenedor__reloj.colorYellow {
  background-color: #c9cf1c;
}
.contenedor__reloj.colorYellow .day, .contenedor__reloj.colorYellow .year, .contenedor__reloj.colorYellow .month {
  color: #ffffff;
}
.contenedor__reloj.colorPurple {
  background-color: #930cd6;
}
.contenedor__reloj.colorPurple .day, .contenedor__reloj.colorPurple .year, .contenedor__reloj.colorPurple .month {
  color: #ffffff;
}
.contenedor__reloj.colorWhite {
  background-color: #ffffff;
}
.contenedor__reloj.colorWhite .day, .contenedor__reloj.colorWhite .year, .contenedor__reloj.colorWhite .month {
  color: #000000;
}

header {
  border-radius: 0.5em;
  background-color: #ffffff;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  height: 150px;
  top: 0;
  display: flex;
  grid-area: nav;
}
header nav {
  width: 100%;
  display: flex;
  position: relative;
}
header nav .nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  list-style: none;
}
header nav .nav__list .item__list {
  width: 100%;
  display: flex;
  justify-content: center;
}
header .colors__change {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 0.5em;
  width: 250px;
  height: 4em;
  position: absolute;
  left: 0;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.2s;
}
header .colors__change .colores, header .colors__change .color4, header .colors__change .color3, header .colors__change .color2, header .colors__change .color1, header .contenedor__reloj .colors__change .color1, .contenedor__reloj header .colors__change .color1, header .contenedor__reloj .colors__change .color2, .contenedor__reloj header .colors__change .color2, header .contenedor__reloj .colors__change .color3, .contenedor__reloj header .colors__change .color3, header .contenedor__reloj .colors__change .color4, .contenedor__reloj header .colors__change .color4 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: solid #000000 2px;
  margin: 0px 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
header .colors__change .color1 {
  background-color: #40a475;
}
header .colors__change .color1::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: -5px;
  background-color: #5df9b0;
}
header .colors__change .color1.click {
  background-color: #5df9b0;
}
header .colors__change .color2 {
  background-color: #0a698f;
}
header .colors__change .color2::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: -5px;
  background-color: #0ea0da;
}
header .colors__change .color2.click {
  background-color: #0ea0da;
}
header .colors__change .color3 {
  background-color: #a3a816;
}
header .colors__change .color3::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: -5px;
  background-color: #c9cf1c;
}
header .colors__change .color3.click {
  background-color: #c9cf1c;
}
header .colors__change .color4 {
  background-color: #6f0aa1;
}
header .colors__change .color4::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: -5px;
  background-color: #930cd6;
}
header .colors__change .color4.click {
  background-color: #930cd6;
}

@media screen and (max-width: 1024px) {
  body {
    background-color: rgb(223, 223, 223);
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-template-areas: "nav  nav  nav  nav" "nav  nav  nav  nav" "date date date date" "date date date date" "task task list list" "task task list list";
  }
  body .container__task {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    margin: 50px 0px 0px 0px;
    padding: 20px;
    width: 100%;
    border-radius: 0.7em;
    grid-area: task;
    justify-content: center;
    align-items: center;
  }
  body header {
    display: flex;
  }
}
@media screen and (max-width: 769px) {
  body {
    background-color: rgb(223, 223, 223);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "nav  nav  nav  nav" "nav  nav  nav  nav" "date date date date" "date date date date" "task task task task" "task task task task" "list list list list" "list list list list";
    width: 100%;
  }
  body .container__task .task.completed::after {
    content: "Completed";
    position: absolute;
    color: #ffffff;
    font-weight: 700;
    font-size: 1em;
    right: 10px;
  }
  body .colors__change {
    opacity: 0;
    transition: bottom 0.2s;
    transition: opacity 0.2s;
  }
  body .colors__change.visible {
    opacity: 1;
    top: -95px;
    bottom: 0px;
    transition: bottom 0.2s;
  }
}
@media screen and (max-width: 426px) {
  body {
    padding: 20px;
    background-color: rgb(223, 223, 223);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "nav  nav  nav  nav" "nav  nav  nav  nav" "date date date date" "date date date date" "task task task task" "task task task task" "list list list list" "list list list list";
    width: 100%;
  }
  body .container__task .task.completed::after {
    content: "Completed";
    position: absolute;
    color: #ffffff;
    font-weight: 700;
    font-size: 1em;
    right: 10px;
  }
  body .contenedor__task {
    width: 100%;
    bottom: 20px;
    transition: opacity 0.2s;
  }
  body .contenedor__task.addtask__visible {
    display: flex;
    opacity: 1;
  }
  body .contenedor__task .btn__task {
    width: 40px;
    height: 40px;
  }
  body .contenedor__reloj {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 10px 0px 0px 0px;
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 0.7em;
    grid-area: date;
  }
  body .contenedor__reloj .wrapper {
    opacity: 0;
  }
  body .contenedor__reloj .day {
    grid-area: day;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 2.5em;
  }
  body .contenedor__reloj .day p {
    color: #000000;
    padding: 0px 15px;
    font-family: "Outfit", sans-serif;
  }
  body .contenedor__reloj .month {
    grid-area: month;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 2.5em;
  }
  body .contenedor__reloj .month p {
    color: #000000;
    padding: 0px 15px;
    font-family: "Outfit", sans-serif;
  }
  body .contenedor__reloj .year {
    grid-area: year;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 2.5em;
  }
  body .contenedor__reloj .year p {
    color: #000000;
    padding: 0px 15px;
    font-family: "Outfit", sans-serif;
  }
}
@media screen and (max-width: 321px) {
  body {
    padding: 20px;
    background-color: rgb(223, 223, 223);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "nav  nav  nav  nav" "nav  nav  nav  nav" "date date date date" "date date date date" "task task task task" "task task task task" "list list list list" "list list list list";
    width: 100%;
  }
  body .container__task .task.completed::after {
    content: "";
    position: absolute;
    color: #ffffff;
    font-weight: 700;
    font-size: 1em;
    right: 10px;
  }
  body .contenedor__task {
    width: 100%;
  }
  body .contenedor__task .btn__task {
    width: 40px;
    height: 40px;
  }
  body .contenedor__reloj {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 10px 0px 0px 0px;
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 0.7em;
    grid-area: date;
  }
  body .contenedor__reloj .wrapper {
    opacity: 0;
  }
  body .contenedor__reloj .day {
    grid-area: day;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.9em;
  }
  body .contenedor__reloj .day p {
    color: #000000;
    padding: 0px 15px;
    font-family: "Outfit", sans-serif;
  }
  body .contenedor__reloj .month {
    grid-area: month;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.9em;
  }
  body .contenedor__reloj .month p {
    color: #000000;
    padding: 0px 15px;
    font-family: "Outfit", sans-serif;
  }
  body .contenedor__reloj .year {
    grid-area: year;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.9em;
  }
  body .contenedor__reloj .year p {
    color: #000000;
    padding: 0px 15px;
    font-family: "Outfit", sans-serif;
  }
  body .task .leyend {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */