
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Outfit', sans-serif;
    }

body{
    background-color: #dbdbdb;
    font-family: 'Outfit', sans-serif;
    display: grid;
    gap: 20px;
    padding: 70px;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
    "date date date date"
    "date date date date"
    "task task list list"
    "task task list list"
     ;
    width: 100%;
}
    // contenedor
    .container__task{
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        backdrop-filter: blur(10px);
        margin: 50px 0px 0px 0px;
        padding: 40px;
        width: 100%;
        border-radius: .7em;
        grid-area: task;
        align-items: center;
        position: relative;
        .tittle{
            color: #313131;
            display: flex;
            position: absolute;
            top: 35px;
            width: 100%;
            align-items: flex-start;
            justify-content: center;
            font-size: .7em;
            margin: 0;
            padding: 30px 0px;
        }
        // lista de tareas 
        ul{
            width: 100%;
            display: flex;
            position: relative;
            flex-direction: column;
            padding: 0;
            margin: 50px 0px;
            .task{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                margin: 50px 0px 20px 0px;
                background-color: #ffcece;
                width: 100%;
                height: 80px;
                border-radius: .9em;
                color: rgb(0, 0, 0);
                font-weight: 700;
                padding: 0px 0px 0px 60px;
                cursor: pointer;
                transition:background-color .3s ease;
                &.select{
                    background-color: #1dd67d;
                    color: #ffffff;
                    button{
                        opacity: 0;
                    }
                }
                &.completed{
                    &::after{
                        content: 'Completed';
                        position: absolute;
                        color: #ffffff;
                        font-weight: 700;
                        font-size: 1em;
                        right: 70px;
                    }
                }
            }
                // boton de eliminar tarea 
                button{
                    background-color: transparent;
                    border: solid 3px #d61d1d;
                    color: #d61d1d;
                    position: absolute;
                    right: 10px;
                    outline: none;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    margin: 5px;
                    font-weight: 900;
                    cursor: pointer;
                    &:hover{
                        background-color: #d61d1d;
                        color: #ffffff;
                    }
                }
            }
        }
        .contenedor__task{
                display: flex;
                position: fixed;
                padding: 20px 0px;
                justify-content: center;
                align-items: center;
                width: 550px;
                right: 50px;
                bottom: 30px;
                z-index: 1000;
                // escribir tarea 
                .input{
                    width: 100%;
                    height: 4em;
                    border: none;
                    outline: none;
                    font-size: 1em;
                    background-color: rgb(0,0,0,.1);
                    backdrop-filter: blur(10px);
                    border-radius: .5em;
                    padding: 0px 0px 0px 10px;
                    margin: 0px 10px;
                }
                // boton de agregar tareas 
                .btn__task{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #5df9b0;
                    width: 60px;
                    height: 55px;
                    border: none;
                    border-radius: 50%;
                    color: white;
                    font-weight: 700;
                    font-size: 1.5em;
                    cursor: pointer;
                }
        }

    // TEREAS COMPLETADAS
    .contenedor__tareas__completadas{
            display: flex;
            width: 100%;
            flex-direction: column;
            background-color: rgb(255, 255, 255);
            backdrop-filter: blur(10px);
            margin: 50px 0px 0px 0px;
            padding: 40px;
            border-radius: .7em;
            grid-area: list;
            .tittle{
                color: #000000;
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                font-size: .7em;
                margin: 0;
                padding: 30px 0px;
            }
            // lista de tareas 
            ul{
                width: 100%;
                display: flex;
                position: relative;
                flex-direction: column;
                padding: 0;
                margin: 0;
                .task{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;
                    margin: 10px 0px;
                    background-color: #ffcece;
                    width: 100%;
                    height: 80px;
                    border-radius: .9em;
                    color: rgb(0, 0, 0);
                    font-weight: 700;
                    padding: 0px 0px 0px 60px;
                    cursor: pointer;
                    transition:background-color .3s ease;
                    &.select{
                        background-color: #1dd67d;
                        color: #ffffff;
                        button{
                            opacity: 0;
                        }
                    }
                    &.completed{
                        &::after{
                            content: 'Completed';
                            position: absolute;
                            color: #ffffff;
                            font-weight: 700;
                            font-size: 1em;
                            right: 70px;
                        }
                    }
                }
            }
    
        }

@import 'reloj';
@import 'medias';
